/*
=========================================
Responsive Breakpoint
=========================================
*/

@media (min-width:1600px) {

	.container {
		max-width: 1500px
	}
}

@media (min-width:1800px) {

	.container {
		max-width: 1795px
	}
}

@media (max-width:1799px) {

	/* 
	================================
	Accessories Section Responsive
	================================
	*/
	.accessories-img {
		margin-left: -17rem;
	}

}

@media (max-width: 1799px) {

	/* 
	===============================
	Kits Section Responsive
	===============================
	*/
	.kits-img {
		margin-left: -16.6rem;
	}

}

@media (max-width: 1599px) {

	/* 
	===============================
	Header Section Responsive
	===============================
	*/
	nav .main-menu ul li:not(:last-child) {
		margin-right: 3.5rem;
	}

	/* 
	===============================
	Hero Section Responsive
	===============================
	*/
	.hero-content {
		max-width: 74.9rem;
		position: absolute;
		left: 9%;
		bottom: 10rem;
	}

	.hero-content p.hero-desc {
		margin: 1rem 0 2rem;
	}

	/* 
	===============================
	Kits Section Responsive
	===============================
	*/
	.kits-img {
		margin-left: -15.6rem;
	}

	/* 
	===============================
	Pros Section Responsive
	===============================
	*/
	.pros-content-1 {
		margin-top: 21.5rem;
	}

	.pros-content .pros-img,
	.pros-content .pros-img img:nth-child(1) {
		width: 30.8rem;
		height: 30.8rem;
	}

	.pros-content .pros-img img:nth-child(2) {
		width: 16rem;
		height: 16rem;
	}

	/* 
	===============================
	Footer Section Responsive
	===============================
	*/
	.email-field input,
	.email-field button {
		height: 6rem;
	}

	.email-field button {
		line-height: 6rem;
	}

	.download-btn li img {
		width: 16rem;
		height: 5rem;
	}
}

@media (max-width: 1399px) {

	/* 
	===============================
	Header Section Responsive
	===============================
	*/
	nav .main-menu .close-and-logo {
		position: absolute;
		top: 2rem;
		left: 3rem;
	}

	nav .main-menu .close-and-logo .menu-close-icon {
		cursor: pointer;
		width: 2rem;
	}

	nav .main-menu .close-and-logo .mobaile-logo {
		max-width: 13rem;
		filter: invert(8%) sepia(7%) saturate(777%) hue-rotate(294deg) brightness(10%) contrast(90%);
		-webkit-filter: invert(8%) sepia(7%) saturate(777%) hue-rotate(294deg) brightness(10%) contrast(90%);
	}

	nav.sticky-menu .menu-toggle-btn .bar {
		background: var(--primary-color);
	}

	nav .main-menu {
		position: relative;
		position: fixed;
		top: 0;
		left: -100%;
		padding: 3rem;
		background: var(--secondary-color);
		width: 50%;
		z-index: 9999;
		min-height: 100vh;
		-webkit-transition: all 0.6s ease-in;
		-o-transition: all 0.6s ease-in;
		transition: all 0.6s ease-in;
	}

	nav .show-menu {
		left: 0%;
		-webkit-transition: all 0.6s ease-in;
		-o-transition: all 0.6s ease-in;
		transition: all 0.6s ease-in;
	}

	nav .main-menu ul li:not(:last-child) {
		margin-right: 0;
		margin-bottom: 1rem;
	}

	nav .main-menu ul li a {
		font-size: var(--size-sm);
		color: var(--primary-color);
	}

	nav .main-menu ul li a.join-btn {
		color: var(--secondary-color);
	}

	/* 
	===============================
	Kits Section Responsive
	===============================
	*/
	.kits-img {
		margin-left: -13.8rem;
	}

	/* 
	===============================
	Experiencre Section Responsive
	===============================
	*/
	.posd-app-content {
		padding-right: 8.8rem;
	}

	.frx-content {
		padding-left: 9.6rem;
	}

	.data-content {
		padding-right: 5rem;
	}

	/* 
	===============================
	Field Section Responsive
	===============================
	*/
	.slider-overlay-content p {
		margin: 2rem 0;
	}

	/* 
	===============================
	Pros Section Responsive
	===============================
	*/
	.pros-content-1 {
		margin-top: 18.5rem;
	}

	.pros-content .pros-img,
	.pros-content .pros-img img:nth-child(1) {
		width: 26rem;
		height: 26rem;
	}

	.pros-content .pros-img img:nth-child(2) {
		width: 14rem;
		height: 14rem;
	}

	/* 
	===============================
	Back to top Btn
	===============================
	*/
	#scroll-up-btn {
		width: 4rem;
		height: 4rem;
	}

	#scroll-up-btn img {
		width: 2rem;
		height: 2rem;
	}

}

@media (max-width: 1199px) {

	/* 
	=====================================
	Variables
	=====================================
	*/
	:root {
		--size-xl: 5rem;
	}

	/* 
	================================================
	================================================
	Start Reuseble Components
	================================================
	*/
	.btn-border {
		min-height: 8rem;
	}

	
	/* 
	===============================
	Hero Section Responsive
	===============================
	*/
	.hero-content h1 {
		font-size: 6rem;
	}

	.hero-content p.hero-desc {
		font-size: 2.2rem;
		padding-right: 14rem;
	}

	/* 
	===============================
	Experiencre Section Responsive
	===============================
	*/
	.posd-app-content {
		padding-right: 1.8rem;
	}

	/* 
	===============================
	Pros Section Responsive
	===============================
	*/
	.pros-content-1 {
		margin-top: 15.5rem;
	}

	.pros-content .pros-img,
	.pros-content .pros-img img:nth-child(1) {
		width: 22rem;
		height: 22rem;
	}

	.pros-content .pros-img img:nth-child(2) {
		width: 11rem;
		height: 11rem;
	}

	/* 
	================================
	Accessories Section Responsive
	================================
	*/
	.accessories-img {
		margin-left: -13rem;
	}

	/*
	===============================
	Footer Section Responsive
	===============================
	*/
	.email-form {
		max-width: 50rem;
	}

}

@media (max-width: 991px) {

	/* 
	===============================
	Hero Section Responsive
	===============================
	*/
	.hero-content {
		bottom: 10rem;
	}

	/* 
	===============================
	Kits Section Responsive
	===============================
	*/
	.kits-section {
		padding-bottom: 10rem;
	}

	.kits-img {
		margin-left: -15.8rem;
	}

	/* 
	===============================
	Experiencre Section Responsive
	===============================
	*/
	.frx-content {
		padding-left: 6.6rem;
	}

	.data-content {
		padding-right: 2rem;
	}

	/* 
	===============================
	Pros Section Responsive
	===============================
	*/

	.pros-content .pros-img,
	.pros-content .pros-img img:nth-child(1) {
		width: 18rem;
		height: 18rem;
	}

	.pros-content .pros-img img:nth-child(2) {
		width: 9rem;
		height: 9rem;
	}

	/* 
	===============================
	Accessories Section Responsive
	===============================
	*/
	.accessories-section {
		padding-bottom: 10rem;
	}

	/*
	===============================
	Footer Section Responsive
	===============================
	*/
	.widget-area button .widget-title {
		font-size: 1.7rem;
	}

	/* 
	===============================
	Back to top Btn
	===============================
	*/
	#scroll-up-btn {
		width: 3.5rem;
		height: 3.5rem;
	}

	#scroll-up-btn img {
		width: 1.8rem;
		height: 1.8rem;
	}

}

@media (max-width: 767px) {

	/* 
	===============================
	Header Section Responsive
	===============================
	*/
	nav .main-menu {
		width: 70%;
	}

	/* 
	===============================
	Hero Section Responsive
	===============================
	*/
	.hero-content {
		bottom: 8rem;
	}

	.hero-content h1 {
		font-size: 5rem;
	}

	.hero-content p.hero-desc {
		font-size: 2rem;
		padding-right: 0rem;
	}

	/* 
	===============================
	Coach Section Responsive
	===============================
	*/
	.coach-content:first-child,
	.coach-content:nth-child(2) {
		margin: 0;
	}

	.coach-content .coach-img {
		width: 22rem;
		height: 22rem;
	}

	.coach-content .coach-img img {
		width: 9rem;
	}

	.coach-content .coach-text p:last-child {
		font-size: var(--size-sm);
	}

	/* 
	===============================
	Experiencre Section Responsive
	===============================
	*/
	.frx-content {
		padding-left: 0rem;
	}

	.data-content {
		padding-right: 0rem;
	}

	.frx-content p {
		margin-bottom: 4.5rem;
	}

	/* 
	===============================
	Pros Section Responsive
	===============================
	*/
	.pros-content-1,
	.pros-content-3 {
		margin-top: 0rem;
	}

	.pros-content .pros-info {
		margin-top: 2rem;
	}

	.pros-content .pros-info h4 {
		margin-top: 2rem;
		font-size: 1.7rem;
	}

	.pros-content .pros-info p {
		font-size: var(--size-sm);
	}

	.pros-content-2 .pros-img img:nth-child(2) {
		bottom: 0;
		right: -20%;
	}

}

@media (max-width: 575px) {

	/* 
	=====================================
	Variables
	=====================================
	*/
	:root {
		--size-xl: 4rem;
	}

	/* 
	===============================
	Header Section Responsive
	===============================
	*/
	header .header-top-text h4 {
		font-size: 1.7rem;
	}

	nav .main-menu {
		width: 100%;
	}

	/* 
	===============================
	Hero Section Responsive
	===============================
	*/
	.hero-content {
		bottom: 6rem;
	}
	
	.hero-content h1 {
		font-size: 4.5rem;
	}

	.hero-content p.hero-desc {
		font-size: 1.8rem;
		padding-right: 11rem;
	}

	.hero-content .hero-btn a {
		padding: 1.5rem 4rem;
	}

	/* 
	===============================
	Coach Section Responsive
	===============================
	*/
	.coach-content .coach-img {
		width: 23rem;
		height: 23rem;
	}

	.coach-content .coach-img img {
		width: 10rem;
	}

}

@media (max-width: 575px) {

	/* 
	===============================
	Reviews Section Responsive
	===============================
	*/
	.reviews-slider-content {
		padding: 3.5rem 2rem;
	}

}

@media (max-width: 511px) {

	/* 
	===============================
	Coach Section Responsive
	===============================
	*/
	.coach-content .coach-img {
		width: 19rem;
		height: 19rem;
	}

	.coach-content .coach-img img {
		width: 8rem;
	}

}

@media (max-width: 480px) {

	/* 
	===============================
	Hero Section Responsive
	===============================
	*/
	.hero-content h1 {
		font-size: 4rem;
	}

	.hero-content p.hero-desc {
		font-size: 1.8rem;
		padding-right: 5rem;
	}

	.hero-content .hero-btn a {
		padding: 1.5rem 4rem;
	}

}

@media (max-width: 475px) {

	/* 
	===============================
	Coach Section Responsive
	===============================
	*/
	.coach-content .coach-img {
		width: 17rem;
		height: 17rem;
	}

	.coach-content .coach-img img {
		width: 7rem;
	}

}

@media (max-width: 430px) {

	/* 
	===============================
	Coach Section Responsive
	===============================
	*/
	.coach-content .coach-img {
		width: 15rem;
		height: 15rem;
	}

	.coach-content .coach-img img {
		width: 6rem;
	}

}

@media (max-width: 415px) {

	/* 
	===============================
	Hero Section Responsive
	===============================
	*/
	.hero-content {
		padding: 0 1rem;
		left: 0%;
		bottom: 5rem;
	}
	
	.hero-content h1 {
		font-size: 3.5rem;
	}

	.hero-content p.hero-desc {
		font-size: 1.6rem;
		padding-right: 0rem;
	}

	.hero-content .hero-btn a {
		display: block;
		text-align: center;
	}

	.hero-content .hero-btn a:first-child {
		margin: 0 0 1rem;
	}

	.hero-content p:last-child {
		text-align: center;
		font-size: 1.5rem;
	}
	
}

@media (max-width: 412px) {

	/* 
	===============================
	Footer Section Responsive
	===============================
	*/
	.email-field input,
	.email-field button {
		height: 5rem;
	}

	.email-field button {
		line-height: 5rem;
	}

	.widget-area {
		flex-direction: column !important;
	}

	.widget-area>* {
		width: 100% !important;
	}

	.widget-area .widget-content {
		max-height: 0;
	}

	.widget-area button .icon {
		display: inline-block;
	}

}

@media (max-width: 346px) {

	/* 
	===============================
	Footer Section Responsive
	===============================
	*/
	.download-btn li img {
		width: 14rem;
	}

}